[Desktop Entry]
Name=Solar System
Comment=The Solar System Screen Saver
TryExec=solarsystem
Exec=solarsystem
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
OnlyShowIn=GNOME;

